
<div class="container">


  <div class="form-group">
    <label for="startdate" style="text-align:center;color:rgb(18, 18, 235); ">startDate</label>
    <input style="text-align:left;height: 40px; width: 800px" type="date" class="form-control" placeholder="Enter Date"
      id="startDate" [(ngModel)]="user.startDate" required />



    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <div class="form-group">
    <label for="enddate" style="text-align:center;color:blue;"> endDate</label>
    <input style="text-align:left;height: 40px; width: 800px " type="date" class="form-control" placeholder="Enter Date"
      id="endDate" [(ngModel)]="user.endDate" required />
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>


  <div class="container">
    <h1 style="text-align:center; border-style:none "> Type Of Leave</h1>


    <div class="form-check">
      <label class="form-check-label" for="radio1">
        <input style="text-align:left" type="radio" class="form-check-input" id="radio1" name="typeOfLeave" required
          #typeOfLeave="ngModel" value="Earned Leave" [(ngModel)]="user.typeOfLeave" checked >Earned Leave
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="radio2">
        <input style="text-align:left" type="radio" class="form-check-input" id="radio2" name="typeOfLeave" required
          #typeofLeave="ngModel" value="Casual Leave" [(ngModel)]="user.typeOfLeave" >Casual Leave
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input style="text-align:left" type="radio" class="form-check-input" id="radio3" name="typesOfLeave" required
          #typeOfLeave="ngModel" value="Leave Without Pay" [(ngModel)]="user.typeOfLeave" >Leave Without Pay
      </label>
    </div>

  </div>


  <div class="form-group form-check">
    <label class="form-check-label">

      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Check this checkbox to continue.</div>
    </label>
  </div>
  <div class="container">

    <div class="form-group">
      <label style="text-align:l">REASON (Optional)</label>
      <textarea class="form-control" rows="5" id="comment" name="text" [(ngModel)]="user.reason"></textarea>
    </div>
    <button style="background-color:rgb(136, 240, 253);color:black; height: 30px;width:150"
      (click)="this.applyLeaveEmployee()">Apply Leave</button>
   