<h1 
    style="text-align:center;color:red;background-color:powderblue;">APPLY LEAVES</h1>
 


<!DOCTYPE html>
<html lang="en">
  
  
<body style="background-color:#f0f5d4;">
 
 
<div class="container">
  
  <form role="form">
    
    <div class="form-group">
        <label for="stdate" style="text-align:center;color:rgb(18, 18, 235);">Leave Start Date</label>
        <input  style="text-align:left;color:rgb(245, 20, 3);background-color:rgb(230, 228, 86)  "type="date" class="form-control" id="stdate" placeholder="Enter Date" name="Date" required>
        
            
        
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
     <div class="form-group">
        <label for="enddate"style="text-align:center;color:blue;">Leave End Date</label>
        <input style="text-align:left;color:rgb(245, 20, 3);background-color:rgb(230, 228, 86);"type="date" class="form-control" id="enddate" placeholder="Enter Date" name="Date" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      
    
      <div class="container">
       <h1 style="text-align:center;color:rgba(245, 13, 245, 0.562);background-color:#94fffa">TYPES OF LEAVES</h1>
       
       
        <form role="form">
          <div class="form-check">
            <label class="form-check-label" for="radio1">
              <input style = "text-align:left;color:rgb(129, 30, 5);background-color:powderblue;"type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Earned Leave
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="radio2">
              <input  style = "text-align:left;color:rgb(235, 148, 18);background-color:powderblue" type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Casual Leave
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input  style = "text-align:left;color:rgb(235, 87, 18);background-color:powderblue" type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">Leave Without Pay
            </label>
          </div>
          
        </form>
      </div>


      <div class="form-group form-check">
        <label class="form-check-label">
        
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback" style = "background-color:powderblue">Check this checkbox to continue.</div>
        </label>
      </div>
     
    </form>
  </div>
  
  
  
  
    
      <div class="container">
       
        <form role="form">
          <div class="form-group">
            <label style="text-align:l;color:rgb(247, 141, 3);"for="Reason"  >REASON (Optional)</label>
            <textarea style="background-color:rgb(250, 225, 255)" class="form-control" rows="5" id="comment" name="text"></textarea>
           </div>
           <button style="background-color:rgb(250, 69, 14);color:black" onclick="alert('Leave Applied Successfully')" type="apply leave" class="applyleavebtn btn btn-success"  click="this.applyleave()">Apply Leave</button>
          
           <button style="background-color:rgb(162, 243, 95);color:black" type="attendence" class="btn btn-primary">View Leave Sheet</button>
           <button style="background-color:rgb(136, 240, 253);color:black" type="back" class="btn btn-primary">Back</button>
           

        </form>
      </div>

      
    
    
</body>
</html>