<div class="login">
 
    <div class="card">
        <div class="inputs">
          <div class="text-left"></div>
          <div class="row d-flex justify-content-center"></div>

          <br>
          <br>
          <br>

          <label> User Name     </label>
          <input type="text" placeholder="UserName*" id="username" [(ngModel)]="user.username"  required />
          <div class="row d-flex justify-content-center"></div><br>
          <label> Password    </label>
          <input type="password" placeholder="Password*" id="password" [(ngModel)]="user.password" required/>
        </div>
        <div class="buttons">
          <button class="btn" id="btn-login" type="submit" (click)="login()">Login</button>
          <button class="btn" id="btn-signup" routerLink="/signup" formnovalidate>Sign Up</button>
          <button class="btn" id="btn-fgtpwd" formnovalidate>Forget Password</button>
        </div>
    </div>
  
  </div>
