
<form action="validation"></form>
<label>Employee ID : </label>
<div class="row d-flex justify-content-center">
   <input type="number" placeholder="Employee ID*" id="employeeid" [(ngModel)]="user.employeeId" required />
   <br><br>
   <label> Name : </label>

   <input type="text" placeholder="Name*" id="name" [(ngModel)]="user.name" required />
   <br><br>
   <label>Password :</label>
   <div class="row d-flex justify-content-center">
      <input type="Password" placeholder="password*" id="password" [(ngModel)]="user.Password" required />
      <br><br>
      <label>Confirm Password :</label>

      <input type="Password" placeholder="retype password*" id="cPassword" [(ngModel)]="user.cPassword" required />
      <br><br>
      <label>Email ID :</label>

      <input type="emailId" placeholder="Email ID*" id="emailId" [(ngModel)]="user.emailId" required />
      <br><br>
      <label for="stdate">DOJ :</label>

      <input type="date" placeholder="doj*" id="stdate" [(ngModel)]="user.Date" required />
      <div class="valid-feedback"></div>
   </div><br><br>
   <label> Project ID : </label>

   <input type="number" placeholder="projectId*" id="project ID" [(ngModel)]="user.ProjectID" required />
   <br><br>
   <label> Project Name: </label>

   <input type="text" placeholder="projectName*" id="projectName" [(ngModel)]="user.projectName" required />
   <br><br>

   <label for="jobRole"> Job Role</label><br>
   <div class="text-center"></div>
   <select type="number" [(ngModel)]="selectedCat">
      <option *ngFor="let cat of categories" [ngValue]="cat">{{cat.jobRole}}</option>
   </select>
   <!-- <select  id="singleSelect" [(ngModel)]="chithra">
 
     <option [ngValue]="Tester">Tester</option> 
     <option [ngValue]="QualityEngineer">QualityEngineer</option>
     <option [ngValue]="Developer">Developer</option> 
     <option [ngValue]="DataAnalyst">DataAnalyst</option>
     <option [ngValue]="Associateconsultant">Associateconsultant</option> 
     <option [ngValue]="Others">Others</option>
     
      </select><br> -->
   <br><br>
   <div class="form-group">
      <div class="form-group">

         <div class="form-group" [class.has-error]="gender.invalid">
            <label class="control-label">Gender</label>
            <div class="form-control">
               <label class="radio-inline">
                  <input type="radio" name="gender" required #gender="ngModel" value="male"
                     [(ngModel)]="user.gender">Male </label>
               <label class="radio-inline">
                  <input type="radio" name="gender" required #gender="ngModel" value="female"
                     [(ngModel)]="user.gender">Female </label>
               <label class="radio-inline">
                  <input type="radio" name="gender" required #gender="ngModel" value="others"
                     [(ngModel)]="user.gender">Others </label>
            </div>
         </div>

      </div>

   </div>

   <br><br>

   <button type="submit" class="registerbtn btn btn-success" (click)="this.registerEmployee()"> Register
   </button>
   <!-- <button type="reset" class="registerbtn btn btn-success"> Reset </button> -->


   <button class="register" id="btn-register" routerLink="/login" formvalidate>Back to Login</button>