

body { 
    margin: 10px 20px;

}
.header {
    background-color: purple;
    height: 40px;
}

.header_component {
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 555px; 
}
.logo { 
    width: auto;
    height: auto;
    float:center;
    padding:22.5px 0px 0px 10px;
  }